.teal-header {
	position: absolute;
	background: #4aaaa5;
	padding: 30px;
	margin-left: 30px;
	text-align: center;
	font-family: Georgia;
	font-size: 30px;
	color: white;
}


}

.main-nav {
	position: absolute;
	float: left;
	background: #ffffff;
	width: 100%;
	border-bottom: 1px solid #777777;
}

li { 
	display: inline-block;
	float: right;
	padding-top: 20px;
}

h2 {
	font-family: serif;
	font-size: 25px;
	color: #4aaaa5;
}

body {
	background-image: url("../images/Sports.png");	
}


.cwm {
	float: right;
	font-family: serif;
	font-size: 25px;
	color: #4aaaa5;
	padding-top: 200px;
	margin-left: 200px;
	margin-right: 50px;
}

.connect-sect {	
	 
	padding-top: 100px;
	margin-left: 200px;
	margin-right: 200px;
}


.footer {
  position: relative;
  clear: both;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #666666;
  text-align: center;
}