.teal-header {
	position: absolute;
	clear: both;
	background: #4aaaa5;
	padding: 30px;
	margin-left: 30px;
	text-align: center;
	font-family: Georgia;
	font-size: 30px;
	color: white;
}

.main-nav {
	position: relative;
	float: left;
	background: #ffffff;
	width: 100%;
	border-bottom: 1px solid #777777;
}

li { 
	display: block;
	float: right;
	padding-top: 20px;
}

h2 {
	font-family: serif;
	font-size: 25px;
	color: #4aaaa5;
}

body {
	background-image: url("../images/Sports.png");	
}

.image {
	float: left;
	height: 125px;
	width: 125px;
}

.cwm {
	float: right;
	padding-top: 50px;
	font-family: serif;
	font-size: 25px;
	color: #4aaaa5;
	background: white;
}

.connect-sect {	
	background-color: #ffffff;
	border-color: #dddddd;
	padding-top: 100px;
	margin-left: 300px;
	margin-right: 300px;
}


.footer {
  position: fixed;
  clear: both;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #666666;
  text-align: center;
}